*.o
*.a
*.d
*.exe
*.pyc
.depend

/config.mak
/config.log
/mpv
/mpv.app
/tags
/TAGS
/DOCS/man/mpv.1
/DOCS/man/mpv.aux
/DOCS/man/mpv.log
/DOCS/man/mpv.out
/DOCS/man/mpv.pdf
/DOCS/man/mpv.toc

/waf
/waf-*
/waf3-*
/build
/.waf*
/.lock-waf_*

/old_build
